* { 
  box-sizing: border-box; 
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #1C0D9B;
}

.container {
  width: 60%;
  max-width: 700px;
  padding-top: 20px;
  margin: 0 auto;
}

.wrapper {
  border: 2px solid #1C0D9B;
  border-radius: 5%;
  padding: 10px;
}

h1,
#intro {
  text-align: center;
}

form {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background: white;
  text-align: center;
}

label {
  font-size: 18px;
}

input {
  display: inline-block;
  width: 100%;
  margin: 20px 0;
  padding: 5px;
  border: 2px dashed lightblue;
  outline: none;
  font-size: 16px;
  font-family: 'Economica', 'Arial', sans-serif;
  font-weight: 400;
  transition: all 0.2s ease;
}

input:focus { 
  border-color: deepskyblue; 
}

#btn_id {
  width: 150px;
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-family: 'Economica', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 700;
  background: mediumblue;
  transition: all 0.2s ease;
}